<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{forum.tile.level}">Supplier</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<span th:substituteby="commons :: common-css"></span>
</head>

<body>
	<!-- ################## Header Start ############## -->
	<nav class="navbar navbar-default navbar1-inner">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<span class="brand" th:text="#{forum.tile.level}"></span>
			</div>
			<span th:substituteby="commons :: common-header-event"></span>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- ################## Header End ############## -->


	<!-- ##################Content Body############## -->
	<div class="container">
		<h1>Access Denied</h1>   
	</div>
	<!-- container end -->
</body>
</html>