<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{forum.tile.level}">Supplier</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<span th:substituteby="commons :: common-css"></span>
</head>

<body>
	<!-- ################## Header Start ############## -->
	<nav class="navbar navbar-default navbar1-inner">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<span class="brand" th:text="#{forum.tile.level}"></span>
			</div>
			<span th:substituteby="commons :: common-header-event"></span>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- ################## Header End ############## -->

	<!-- ##################Content Body############## -->
	<div class="container">
    <div class="col-md-12" style="height: 50px;"></div>
    <div class="col-md-12 container-header">
        <div class="header-separator"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-4"></div>
        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-top: 60px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Login</strong>
                </div>
                <div class="panel-body" style="padding-bottom: 2px;">
                    <!-- k -->
                    <form th:action="@{/online/forum/registration}" method="get">
                        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
                    </form>
                    <form th:action="@{/online/forum/login}" method="POST">
                        <div class="form-group">
                            <label for="txtName" class="control-label">Email Address</label>
                            <br />
                            <input type="text" id="email" name="email" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="control-label">Password</label>
                            <br />
                            <input type="password" id="password" name="password" class="form-control" />
                        </div>
                        <button id="btnLogin" type="Submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-4"></div>
    </div>

</div>
	<!-- container end -->

</body>

</html>