<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{forum.tile.level}">Supplier</title>
     <meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<span th:substituteby="commons :: common-css"></span>
</head>

<body>
<!-- ################## Header Start ############## -->
<nav class="navbar navbar-default navbar1-inner">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <span class="brand" th:text="#{forum.tile.level}"></span>
			    </div>
			<span th:substituteby="commons :: common-header-event"></span>
		</div><!-- /.container-fluid -->
</nav>
<!-- ################## Header End ############## -->
	
		
<!-- ##################Content Body############## -->
<div class="container">
<!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                  <div class="form-group">
					  <label for="comment">Comment:</label>
					  <input type="hidden" id="threaCode" th:value="${threadCode}"/>
					  <input type="hidden" id="commentCode" />
					  <textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
                  <button id="btnSave" class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
</div>




		<div class="row">
			<div class="col-md-12">
				<p class="lead" th:text="${title}"></p>
				<p th:text="${description}"></p>
			</div>
		</div>





		<!-- Datatable end -->
 	<span th:substituteby="commons :: common-html"></span>
 	
 	<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModalHorizontal"><i class="glyphicon glyphicon-comment"></i> Post Comment</button>

	<table id="customerDataTable" class="table" style="display:none">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblcustomerlist"></tbody>
    </table> <!-- Datatable end -->
  
</div> <!-- container end -->

<span th:substituteby="commons :: common-js"></span>
</body>


<script th:inline="javascript">
$( document ).ready(function() {
	
	var baseUrl="/online/forum/comment";
	
	/*###############################################
	 *############  For Load all data from server ###
	 *###############################################*/
	 load(baseUrl+"/all");
	
	
	 /*###############################################
	  *##### For Load all autocomplete from server ###
	  *###############################################*/
	 
	 
	
	 /*###############################################
	  *########## For Searching data on header box ###
	  *###############################################*/
	var oTable =$('#customerDataTable').DataTable();
	$('#myInputTextField').keyup(function(){
	      oTable.search($(this).val()).draw() ;
	})
	
	function myFunction() {
    alert("working");
}
	 /*###############################################
	  *########## Save button click event          ###
	  *###############################################*/
		$("#btnSave").click(function() {
			
			/* validation checking */
			
			/* Json Object */
			var jsonObj = {
					threadCode : $("#threadCode").val(),
					commentCode : $("#commentCode").val(),
					commentText : $("#comment").val()
			};
			var url, data, message;
			if ($(this).attr("title") === "Update") {
				save(jsonObj, baseUrl+"/update");
				load(baseUrl+"/all");
				oTable = $('#customerDataTable').DataTable();
				$("#comment").val("");
				$("#myModalHorizontal").modal('hide');
				
			} else {
				save(jsonObj, baseUrl);
				load(baseUrl+"/all");
				oTable = $('#customerDataTable').DataTable();
				$("#comment").val("");
				$("#myModalHorizontal").modal('hide');
				window.swal({
			        title: message.message,
			        type: "success",
			        showCancelButton: false,
			        confirmButtonClass: 'btn-primary',
			        confirmButtonText: 'OK'
			    });
			}
		});

	 /*###############################################
	  *########## Delete button click event        ###
	  *###############################################*/
		$("#btnDelete").click(function() {
			var msg = deleteRecords();
			window.swal({
		        title: msg.message,
		        type: "success",
		        showCancelButton: false,
		        confirmButtonClass: 'btn-primary',
		        confirmButtonText: 'OK'
		    });
			reset();
			load(baseUrl+"/all");
			oTable = $('#customerDataTable').DataTable();

		});

	 /*###############################################
	  *######### DataTable click event End ###########
	  *###############################################*/
		  
	/*##### All Functions ######*/	  
		function load(param) {
			$("#tblcustomerlist").html("");
			var siteCode = "ddd";
			var url = param;
			var data = sendAjax('{}', url, "GET", "", "");
			$("#block-ui").hide();
			$("#customerDataTable").show();
			console.log(data);
			$("#customerDataTable" + ' tbody' + ' tr').remove();
			$("#customerDataTable").dataTable().fnDestroy();
			$('#customerDataTable').dataTable({
	               "aaData": data,
	               "aoColumns": [
	                   { "mDataProp": "entryUser","width": "10%", "bSortable": true, 
	                	   "render": function (nRow, aData, iDataIndex) {
	                		   if(iDataIndex.entryUser==null){
	                			   return "";
	                		   }
	  						 var date = new Date(iDataIndex.entryDate);
	  					        var month = date.getMonth() + 1;
	  					        var dataa= (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear() +" "+ date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
	  				        return '<span style="color:blue;font-weight:bold">'+iDataIndex.entryUser+'</span><br/><span>'+dataa+'</span>'
	  				    }   
	                   },
					   { "mDataProp": "commentText", "bSortable": true,
	                	   "render": function (nRow, aData, iDataIndex) {
	                		   if(iDataIndex.entryUser==null){
	                			   return "";
	                		   }
	  				        return '<span style="color:blue;font-weight:bold">'+iDataIndex.threadTitle+'</span><br/><span>'+iDataIndex.commentText+'</span>'
	  				    }   
					   },
	                   { "mDataProp": "threadCode", "bSortable": true,"width": "10%",
	                	   "render": function (nRow, aData, iDataIndex) {
	                		   if(user==null || user!==iDataIndex.userEmail){
	                			   return "";
	                		   }
	                		   var edit;
	                		   var deleteData;
	                		   var user=[[${#httpServletRequest.remoteUser}]];
	                		   console.log(user);
	                		   if(user==null){
	                			   edit='';
	                			   deleteData='';
	                		   }else{
	                			   edit='<button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span></button>';
	                			   deleteData='<a href="/online/forum/comment/delete?commentCode='+iDataIndex.commentCode+'" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></a>';
	                		   }
	                		   
						        var html=edit + deleteData;
						        return html;
						    }   
	                   }
	               ],
					rowReorder : {
						selector : 'td:nth-child(2)'
					},
					responsive : true
	           });
		}
		
		
		$('#customerDataTable tbody').on( 'click', 'button', function () {
			var table = $('#customerDataTable').DataTable();
			var data = table.row( $(this).parents('tr') ).data();
			$('#threaCode').val(data.threadCode);
			$('#commentCode').val(data.commentCode);
			$('#comment').val(data.commentText);
			$('#btnSave').prop('title', 'Update');
		        $("#myModalHorizontal").modal();
	    } );
		
		
		

	});
</script>

</html>